# Make everything countable by default
* linguist-detectable=true

# Then exclude venv explicitly
Python/venv/** linguist-detectable=false
Python/venv/** linguist-vendored=true

# And force C# label to parse correctly
*.cs linguist-language="C#"
